@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    background: #94B2C0 !important;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
	padding-left: 20px;
	padding-right: 30px;
	background-color: #DFBB35;
    border-bottom: 3px solid black;
}

.navbar .nav-link {
    font-size: 20px;
    color: #000;
	font-weight: bold;
	text-decoration: underline;
}

.header-icons {
    display: flex;
    gap: 30px;
    margin-left: auto;
}


#hero {
    min-height: 700px;
    background: #5E8EA6;
    padding: 70px 60px;
}

.primary-button,
.secondary-button {
    padding: 14px 25px;

    background: #94B2C0;

    border: 2px solid black;
    border-radius: 13px;

    font-size: 38px;
}

#products-section {
    padding: 50px 30px 80px;
    background: #94B2C0;
    border: 3px solid black;
}

.section-title h2 {
    font-size: 45px;
    font-weight: 400;
}

.product-card {
    overflow: hidden;
    background: #5E8EA6;
    border: 2px solid black;
    border-radius: 13px;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 385px;
    background: #94b2c0;
}

.product-info {
    padding: 10px 14px 16px;
    border-top: 2px solid black;
}

.product-info h3 {
    font-size: 24px;
    font-weight: 400;
}

.product-info p {
    margin-top: 4px;
    font-size: 20px;
}

#categories-section {
    padding: 60px 30px 100px;
    background: #94B2C0;
}

#categories-section > h2 {
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 400;
}

.category-card {
	position: relative;
    min-height: 420px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background: #5E8EA6;
    border: 2px solid black;
    border-radius: 13px;
	flex-direction: row;
}

.category-image {
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start;
}

.category-content {
	width: 50%;
    padding: 20px 20px 20px 10px;
    text-align: left;
}

.category-content h3 {
    font-size: 36px;
    font-weight: 400;
}

.category-content p {
    margin-top: 15px;
    font-size: 24px;
}

#promo-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    padding: 50px;
    background: #DFBB35;
    border: 3px solid black;
}

.promo-decoration {
    position: absolute;
    top: 50%;                 
    left: 40px;              
    transform: translateY(-50%); 
    z-index: 2;            
}

.promo-decoration img {
    width: 500px;
    height: auto;
    display: block;
}

.promo-content h2 {
    font-size: 45px;
    font-weight: 400;
	margin-left: 500px;
}

.promo-code {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
    font-size: 36px;
	margin-left: 500px;
}

.promo-code strong {
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 13px;
}

.footer {
    padding: 30px 40px 40px;
    background: #5E8EA6;
    border: 3px solid black;
	margin-top: 90px;
}

.footer-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-title h2 {
    font-size: 45px;
    font-weight: 400;
	margin: 0;
}

.footer-line {
    height: 3px;
    margin: 20px 0;
    background: black;
}

.footer-image {
    width: 159px;
    height: 235px;
    background: #94B2C0;
}

.copyright {
    font-size: 30px;
}